<ion-view view-title="{{user_data.first_name}} {{user_data.last_name}}">
        <!-- BEGIN: header -->
    <ion-header-bar class="bar-positive" align-title="center">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Legix</h1>
        <button class="button button-icon icon ion-search"></button>
    </ion-header-bar>
    <!-- END: header -->
    <!-- BEGIN: sub header -->
    <ion-nav-bar class="bar-dark bar-subheader bar-secondary" align-title="left">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <!-- END: sub header -->
	<ion-content class="has-subheader"> 
        <div class="header-blue padding">
            <p>Agrupa a tus usuarios en Legix</p>
            <a class="icon ion-help-circled show-tutorial" href="javascript:void(0);"></a>
        </div>
        
        <form>
            
        <ul class="list">
            <li>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nombre del grupo</span>
                    <input type="text" placeholder="Grupo" ng-model="data.nombregrupo" ng-value="{{data.nombregrupo}}" >
                </label>
            </li>
        </ul>
            
        <div class="group-container padding">
            <!-- <i class="icon ion-ios-people"></i> <--- IMPORTANTE: solo se muestra cuando no hay usuarios -->
            <ul class="list list-style">
                <!-- BEGIN: list-->
                <li class="item li-parent">
                    <div class="list-header item item-checkbox item-icon-right">
                        <label class="checkbox">
                           <input type="checkbox">
                        </label>
                        Temas
                        <a class="icon list-expand" href=""><i class="icon ion-arrow-down-b"></i></a>
                    </div>
                    <ul class="list-content">
                        <li class="item li-parent" ng-repeat="tema in user_data.temas">
                            <div class="list-header item item-checkbox">
                                <label class="checkbox" ng-class="{'active':(data.themas.indexOf('{{tema.origen_id}}:{{tema.subject_id}}') > -1)}">
                                   <input type="checkbox" ng-model="data.themas[$index]"ng-checked="data.themas.indexOf('{{tema.origen_id}}:{{tema.subject_id}}') > -1"   ng-true-value="'{{tema.origen_id}}:{{tema.subject_id}}'"  >
                                </label>
                                {{tema.origen}} | {{tema.tema}}
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="item li-parent">
                    <div class="list-header item item-checkbox item-icon-right">
                        <label class="checkbox">
                           <input type="checkbox">
                        </label>
                        Usuarios
                        <a class="icon list-expand" href=""><i class="icon ion-arrow-down-b"></i></a>
                    </div>
                    <ul class="list-content">
                        <li class="item li-parent" ng-repeat="user in user_data.users">
                            <div class="list-header item item-checkbox">
                                <label class="checkbox" ng-class="{'active':(data.usuarios.indexOf('{{user.id}}') > -1)}" >
                                   <input type="checkbox" ng-model="data.usuarios[$index]" ng-true-value="{{user.id}}" ng-checked="data.usuarios.indexOf('{{user.id}}') > -1" >
                                </label>
                                {{user.first_name}} {{user.last_name}}
                            </div>
                        </li>
                        
                    </ul>
                </li>
                <!-- END: list -->
            </ul>
        </div>
            
        <div class="list-actions list-actions-border clearfix" ng-hide="group_id">
            <button class="button button-outline button-positive" type="submit" ng-click="creategroup()">Crear</button>
            <button class="button button-outline button-positive" ontouchstart="window.location.href='#/configuracion'">Crear después</button>
        </div>
        <div class="list-actions list-actions-border clearfix" ng-show="group_id">
            <button class="button button-outline button-positive" ng-controller="ConfigCtrl"  ng-model="data.grupo_id=group_id"   ng-click="removeuser()" >Eliminar</button>
            <button class="button button-outline button-positive" type="submit" ng-click="updategroup()">Editar</button>
        </div>
        </form>
        
    </ion-content>
</ion-view>
