<ion-view view-title="{{user_data.first_name}} {{user_data.last_name}}">
        <!-- BEGIN: header -->
    <ion-header-bar class="bar-positive" align-title="center">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Legix</h1>
        <button class="button button-icon icon ion-search"></button>
    </ion-header-bar>
    <!-- END: header -->
    <!-- BEGIN: sub header -->
    <ion-nav-bar class="bar-dark bar-subheader bar-secondary" align-title="left">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <!-- END: sub header -->
	<ion-content class="has-subheader"> 
        <div class="header-blue padding">
            <p>Registra a tus usuarios en Legix</p>
            <a class="icon ion-help-circled show-tutorial" href="#"></a>
        </div>
        
        <form>
            
        <ul class="list">
            <li>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Nombre del grupo</span>
                    <input type="email" placeholder="Grupo">
                </label>
            </li>
        </ul>
            
        <div class="group-container padding">
            <!-- <i class="icon ion-ios-people"></i> <--- IMPORTANTE: solo se muestra cuando no hay usuarios -->
            <ul class="list list-style">
                <!-- BEGIN: list-->
                <li class="item li-parent">
                    <div class="list-header item item-checkbox item-icon-right">
                        <label class="checkbox">
                           <input type="checkbox">
                        </label>
                        Temas
                        <a class="icon list-expand" href=""><i class="icon ion-arrow-down-b"></i></a>
                    </div>
                    <ul class="list-content">
                        <li class="item li-parent" ng-repeat="tema in user_data.temas">
                            <div class="list-header item item-checkbox">
                                <label class="checkbox">
                                   <input type="checkbox">
                                </label>
                                {{tema.origen}} | {{tema.tema}}
                            </div>
                        </li>
                        <li class="item li-parent">
                            <div class="list-header item item-checkbox">
                                <label class="checkbox">
                                   <input type="checkbox">
                                </label>
                                Medio Ambiente
                            </div>
                        </li>
                        <li class="item li-parent">
                            <div class="list-header item item-checkbox">
                                <label class="checkbox">
                                   <input type="checkbox">
                                </label>
                                Negocios
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="item li-parent">
                    <div class="list-header item item-checkbox item-icon-right">
                        <label class="checkbox">
                           <input type="checkbox">
                        </label>
                        Usuarios
                        <a class="icon list-expand" href=""><i class="icon ion-arrow-down-b"></i></a>
                    </div>
                    <ul class="list-content">
                        <li class="item li-parent" ng-repeat="user in user_data.users">
                            <div class="list-header item item-checkbox">
                                <label class="checkbox">
                                   <input type="checkbox">
                                </label>
                                {{user.first_name}} {{user.last_name}}
                            </div>
                        </li>
                        
                    </ul>
                </li>
                <!-- END: list -->
            </ul>
        </div>
            
        <div class="list-actions list-actions-border clearfix">
            <button class="button button-outline button-positive" type="submit">Crear</button>
            <button class="button button-outline button-positive" onclick="window.location.href='#/configuracion'">Crear después</button>
        </div>
        </form>
        
    </ion-content>
</ion-view>
