<ion-view view-title="{{user_data.first_name}} {{user_data.last_name}}">
    <!-- BEGIN: header -->
    <ion-header-bar class="bar-positive" align-title="center">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Legix</h1>
        <button class="button button-icon icon ion-search"></button>
    </ion-header-bar>
    <!-- END: header -->
    <!-- BEGIN: sub header -->
    <ion-nav-bar class="bar-dark bar-subheader bar-secondary" align-title="left">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <!-- END: sub header -->
    
    <ion-content class="has-subheader"> 
        <div class="header-blue padding">
            <h2>Grupos</h2>
            <a class="icon ion-gear-b" href="#/configuracion/grupos"></a>
        </div>
		<div class="list-card msg_gpo" ng-show="grupos.length<1">
            <div class="item item-header item-empty">
                <h2 >No tienes Grupos creados aún.</h2>
                <h2>Administra tus usuarios por grupos.<a class="icon ion-gear-b" href="#/configuracion/grupos"> Configura tus grupos</a>.</h2>
            </div>
        </div >
        
        <ul class="list category-list groups-list padding has-circle"> 
            
            <li class="category-element item item-avatar item-icon-left item-icon-right" ng-repeat="grupo in grupos">
                <a class="btn-invisible" href="#/tab/groups/group/{{grupo.id}}"></a>
                <i class="icon ion-android-people"></i>
                <h2>{{grupo.title}}</h2>
                <i class="icon ion-chevron-right"></i>
                
            </li>
         

        </ul>
    
    </ion-content>
</ion-view>
