<ion-view view-title="Terminos y Condiciones">
    <!-- BEGIN: header -->
    <ion-header-bar class="bar-positive" align-title="center">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Legix</h1>
        <button class="button button-icon icon ion-search"></button>
    </ion-header-bar>
    <!-- END: header -->
    <!-- BEGIN: sub header -->
    <ion-nav-bar class="bar-dark bar-subheader bar-secondary" align-title="left">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <!-- END: sub header -->
    
    <ion-content class="padding has-subheader simple-page"> 
        
        <div class="card">
            <div class="item item-text-wrap">
                <h2>Legix</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor, dui id eleifend ornare, purus nisl bibendum nibh, vehicula rutrum nulla nulla id felis. Nunc vehicula, enim in euismod accumsan, nunc massa fermentum neque, in feugiat metus ipsum quis orci. Fusce a turpis suscipit, porttitor eros et, dignissim risus. Vivamus sit amet mollis tortor. Nullam convallis posuere odio, id elementum sem auctor sed. Nulla aliquet ultricies tortor, finibus convallis enim pretium vel. Nulla feugiat libero lectus, id euismod ex cursus sed. Suspendisse potenti. Donec rhoncus velit eu lorem tincidunt, at varius lorem laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc venenatis dignissim turpis, id rutrum dui accumsan vel.</p>
                
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In auctor, dui id eleifend ornare, purus nisl bibendum nibh, vehicula rutrum nulla nulla id felis. Nunc vehicula, enim in euismod accumsan, nunc massa fermentum neque, in feugiat metus ipsum quis orci. Fusce a turpis suscipit, porttitor eros et, dignissim risus. Vivamus sit amet mollis tortor. Nullam convallis posuere odio, id elementum sem auctor sed. Nulla aliquet ultricies tortor, finibus convallis enim pretium vel. Nulla feugiat libero lectus, id euismod ex cursus sed. Suspendisse potenti. Donec rhoncus velit eu lorem tincidunt, at varius lorem laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nunc venenatis dignissim turpis, id rutrum dui accumsan vel.</p>
            </div>
        </div>
        
    </ion-content>
</ion-view>