<ion-view view-title="Mi perfil">
    <ion-content class="has-subheader"> 
        
        <div class="list perfil-list">
            <form>
            
                <div class="item item-avatar item-thumbnail-left" href="#">
                    <a class="btn-upload" href="#">
                        <img src="{{user_data.src_img}}">
                        <span class="txt">Editar</span>
                    </a>
                    <p>Elija una foto y un nombre de usuario para su perfil</p>
                </div>
                
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="" value="{{user_data.first_name}} {{user_data.last_name}}">
                    </label>
                </div>
                
                <ul class="list">
                    <li class="item-button-right">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Correo electrónico</span>
                            <input type="email" placeholder="{{user_data.email}}">
                        </label>
                        <a class="button button-outline button-positive" href="#">Editar</a>
                    </li>
                    <li class="item-button-right">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Contraseña</span>
                            <input type="password" placeholder="******">
                        </label>
                        <a class="button button-outline button-positive" href="#">Editar</a>
                    </li>
                    <li>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Suscripción</span>
                            <input type="text" placeholder="{{user_data.legix_id}}" disabled>
                        </label>
                    </li>
                    <li>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Empresa</span>
                            <input type="text" placeholder="{{user_data.company}}" disabled>
                        </label>
                    </li>
                </ul>

            </form>
        </div>
        
    </ion-content>
</ion-view>
