<ion-view view-title="Favoritos">
    <!-- BEGIN: header -->
    <ion-header-bar class="bar-positive" align-title="center">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Legix</h1>
        <button class="button button-icon icon ion-search"></button>
    </ion-header-bar>
    <!-- END: header -->
    <!-- BEGIN: sub header -->
    <ion-nav-bar class="bar-dark bar-subheader bar-secondary" align-title="left">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <!-- END: sub header -->
    
    <ion-content class="padding has-subheader"> 
        
        <!-- BEGIN: card -->
        <div class="list card">

            <div class="item item-header item-thumbnail-left">
                <img class="small-image" src="img/icons/icon-senado.png">
                <h2>Marty McFly</h2>
                <h3>De Senado</h3>
                <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
                <p>
                    Se prevee la presentación de un exhorto a la PGR y <a href="#" class="hashtag">#Pemex</a> 
                    a implemetar un programa de <a href="#" class="hashtag">#PrevencionDeAdeudos</a>...
                </p>
                <div class="item-attachments">
                    <a href="file/file.txt" dowload="file.txt">
                        <i class="icon ion-android-attach"></i>
                        File.txt
                    </a>
                    <a href="file/file.txt" dowload="file.txt">
                        <i class="icon ion-android-attach"></i>
                        File.txt
                    </a>
                </div>
                <div class="item-comments">
                    <a href="#" class="">Mostrar <span class="comments-count">15</span> comentarios previos</a>
                    <ul class="comments-list">
                        <li class="comment">
                            <h3>Armadeo Ibarra</h3>
                            <p>¿Este punto de acuerdo ya se votó?</p>
                            <p class="date">May 19, 2014 a las 1:10 pm</p>
                        </li>
                        <li class="comment">
                            <h3>Armadeo Ibarra</h3>
                            <p>¿Este punto de acuerdo ya se votó?</p>
                            <p class="date">May 19, 2014 a las 1:10 pm</p>
                        </li>
                        <li class="comment">
                            <h3>Armadeo Ibarra</h3>
                            <p>¿Este punto de acuerdo ya se votó?</p>
                            <p class="date">May 19, 2014 a las 1:10 pm</p>
                        </li>
                        <li class="comment last-comment">
                            <h3>Armadeo Ibarra</h3>
                            <p>¿Este punto de acuerdo ya se votó?</p>
                            <p class="date">May 19, 2014 a las 1:10 pm</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="item tabs tabs-icon-only tabs-light tabs-secondary">
                <a class="tab-item" href="#">
                    <i class="icon ion-record"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-android-checkmark-circle"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-heart"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-printer-outline"></i>
                </a>
            </div>

        </div>
        <!-- END: card -->
        
        <!-- BEGIN: card -->
        <div class="list card">

            <div class="item item-header item-thumbnail-left">
                <img class="small-image" src="img/icons/icon-senado.png">
                <h2>Marty McFly</h2>
                <h3>De Senado</h3>
                <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
                <p>
                    Se prevee la presentación de un exhorto a la PGR y <a href="#" class="hashtag">#Pemex</a> 
                    a implemetar un programa de <a href="#" class="hashtag">#PrevencionDeAdeudos</a>...
                </p>
                <div class="item-attachments">
                    <a href="file/file.txt" dowload="file.txt">
                        <i class="icon ion-android-attach"></i>
                        File.txt
                    </a>
                    <a href="file/file.txt" dowload="file.txt">
                        <i class="icon ion-android-attach"></i>
                        File.txt
                    </a>
                </div>
                <div class="item-comments">
                    <a href="#" class="">Mostrar <span class="comments-count">15</span> comentarios previos</a>
                    <ul class="comments-list">
                        <li class="comment">
                            <h3>Armadeo Ibarra</h3>
                            <p>¿Este punto de acuerdo ya se votó?</p>
                            <p class="date">May 19, 2014 a las 1:10 pm</p>
                        </li>
                        <li class="comment">
                            <h3>Armadeo Ibarra</h3>
                            <p>¿Este punto de acuerdo ya se votó?</p>
                            <p class="date">May 19, 2014 a las 1:10 pm</p>
                        </li>
                        <li class="comment">
                            <h3>Armadeo Ibarra</h3>
                            <p>¿Este punto de acuerdo ya se votó?</p>
                            <p class="date">May 19, 2014 a las 1:10 pm</p>
                        </li>
                        <li class="comment last-comment">
                            <h3>Armadeo Ibarra</h3>
                            <p>¿Este punto de acuerdo ya se votó?</p>
                            <p class="date">May 19, 2014 a las 1:10 pm</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="item tabs tabs-icon-only tabs-light tabs-secondary">
                <a class="tab-item" href="#">
                    <i class="icon ion-record"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-android-checkmark-circle"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-heart"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-printer-outline"></i>
                </a>
            </div>

        </div>
        <!-- END: card -->
        
        <!-- BEGIN: card -->
        <div class="list card">

            <div class="item item-header item-thumbnail-left">
                <img class="small-image" src="img/icons/icon-senado.png">
                <h2>Marty McFly</h2>
                <h3>De Senado</h3>
                <p>November 05, 1955</p>
            </div>

            <div class="item item-body">
                <p>
                    Se prevee la presentación de un exhorto a la PGR y <a href="#" class="hashtag">#Pemex</a> 
                    a implemetar un programa de <a href="#" class="hashtag">#PrevencionDeAdeudos</a>...
                </p>
                <div class="item-attachments">
                    <a href="file/file.txt" dowload="file.txt">
                        <i class="icon ion-android-attach"></i>
                        File.txt
                    </a>
                    <a href="file/file.txt" dowload="file.txt">
                        <i class="icon ion-android-attach"></i>
                        File.txt
                    </a>
                </div>
                <div class="item-comments">
                    <a href="#" class="">Mostrar <span class="comments-count">15</span> comentarios previos</a>
                    <ul class="comments-list">
                        <li class="comment">
                            <h3>Armadeo Ibarra</h3>
                            <p>¿Este punto de acuerdo ya se votó?</p>
                            <p class="date">May 19, 2014 a las 1:10 pm</p>
                        </li>
                        <li class="comment">
                            <h3>Armadeo Ibarra</h3>
                            <p>¿Este punto de acuerdo ya se votó?</p>
                            <p class="date">May 19, 2014 a las 1:10 pm</p>
                        </li>
                        <li class="comment">
                            <h3>Armadeo Ibarra</h3>
                            <p>¿Este punto de acuerdo ya se votó?</p>
                            <p class="date">May 19, 2014 a las 1:10 pm</p>
                        </li>
                        <li class="comment last-comment">
                            <h3>Armadeo Ibarra</h3>
                            <p>¿Este punto de acuerdo ya se votó?</p>
                            <p class="date">May 19, 2014 a las 1:10 pm</p>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="item tabs tabs-icon-only tabs-light tabs-secondary">
                <a class="tab-item" href="#">
                    <i class="icon ion-record"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-android-checkmark-circle"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-share"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-heart"></i>
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-ios-printer-outline"></i>
                </a>
            </div>

        </div>
        <!-- END: card -->
        
    </ion-content>
</ion-view>
