<ion-view view-title="Mis grupos">
    <ion-content class="has-subheader"> 
        
        <div class="list"> 
            
            <div class="item item-divider">
                10 Participantes
            </div>
            
            <div class="images-content">
                <ul class="image-list">
                    
                    <li>
                        <div class="circle-picture">
                            <img src="img/profiles/user_1234.png" alt="Imagen de usuario">
                        </div>
                        <h2>Rafael rojas</h2>
                    </li>
                    
                    <li>
                        <div class="circle-picture">
                            <img src="img/profiles/user_1234.png" alt="Imagen de usuario">
                        </div>
                        <h2>Rafael rojas</h2>
                    </li>
                    
                    <li>
                        <div class="circle-picture">
                            <img src="img/profiles/user_1234.png" alt="Imagen de usuario">
                        </div>
                        <h2>Rafael rojas</h2>
                    </li>
                    
                    <li>
                        <div class="circle-picture">
                            <i class="icon icon-user">JC</i>
                        </div>
                        <h2>Rafael rojas</h2>
                    </li>
                    
                </ul>
                
                <a class="button button-outline button-positive" href="#">Ver todos</a>
                   
            </div>
            
            <div class="item item-divider">
                Temas
            </div>
            
            <div class="list category-list padding has-circle"> 
            
                <li class="category-element item item-avatar item-icon-left item-button-right">
                    <i class="icon icon-circle">53</i>
                    <h2>Todos los diputados</h2>
                </li>

                <li class="category-element item item-avatar item-icon-left">
                    <i class="icon icon-circle">8</i>
                    <h2>Re-enviar</h2>
                </li>

                <li class="category-element item item-avatar item-icon-left">
                    <i class="icon icon-circle">12</i>
                    <h2>Impuestos</h2>
                </li>

                <li class="category-element item item-avatar item-icon-left">
                    <i class="icon icon-circle">8</i>
                    <h2>Agua</h2>
                </li>

                <li class="category-element item item-avatar item-icon-left">
                    <i class="icon icon-circle">5</i>
                    <h2>1</h2>
                </li>

                <li class="category-element item item-avatar item-icon-left">
                    <i class="icon icon-circle">3</i>
                    <h2>Agua</h2>
                </li>
              

            </div>

        </div>
        
    </ion-content>
</ion-view>
