<ion-view view-title="{{group.title}}">
    <!-- BEGIN: header -->
    <ion-header-bar class="bar-positive" align-title="center">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Legix</h1>
        <button class="button button-icon icon ion-search"></button>
    </ion-header-bar>
    <!-- END: header -->
    <!-- BEGIN: sub header -->
    <ion-nav-bar class="bar-dark bar-subheader bar-secondary" align-title="left">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <!-- END: sub header -->
    
    <ion-content class="padding has-subheader bg-color-1"> 
		 <div class="header-blue padding" >
            <h2 style="max-width:100%!important">{{tema_name}}</h2>
            
        </div>
		<div class="seen-menu clearfix">
		 
            <a class="reads  nof_read" ng-class="{'active':noread>0, ' ':noread==0}" data-class="feed_noread" href="#" onclick="return false;" data-read="{{noread}}">No leídos ({{noread}})</a> 
            <a  class="reads" ng-class="{'active':noread==0, ' ':noread>0}"  data-class="feed_read" href="#" onclick="return false;" >Leídos</a>
        </div>
		<div class="list-card"   ng-switch="flag" ng-show="flag" ng-hide="flag==false">
            <div class="item item-header item-empty">
                <h2 ng-switch-when="true">Cargando Feeds...</h2>
                <h2 ng-switch-when="no_feeds">No hay Feeds en este tema del grupo.</h2>
            </div>
        </div >
         <!-- BEGIN: card -->
        <ion-item class="list card feeds" data-id="{{feed.id}}" data-followids="{{feed.asuntos_str}}" data-follow="{{feed.follow.length}}" ng-repeat="feed in feeds" ng-class="{'feed_noread': feed.read==0, 'feed_read': feed.read==1}" ng-show="(feed.read==0&&noread!=0)||(feed.read==1&&noread==0)">
		<input type="hidden" class="asunto_name" value="{{feed.asunto_name}}" />
           
            <div class="item item-header item-thumbnail-left">
                <img class="small-image" ng-src="http://legixapp.abardev.net{{ feed.src_img }}">
                <h2>{{ feed.title_origin }}</h2>
                <h3>{{ feed.title_source }}</h3>
                <p>{{ feed.date }}</p>
				<a class="read"  ng-class="{'': feed.read==0, 'active': feed.read==1}" href="#"><i class="" ng-class="{'ion-ios-eye-outline': feed.read==0, 'ion-ios-eye': feed.read==1}"></i></a>
          </div>

            <div class="item item-body">
                <p ng-bind-html="feed.content"></p>
                 <div class="item-attachments" ng-controller="FunctionCtrl">
                    <a ng-repeat="docs in feed.docs" href="#" ng-click="download('http://legixapp.abardev.net{{ docs.src_file }}')" download="{{docs.file}}">
                        <i class="icon ion-android-attach"></i>
                        {{docs.file}}
                    </a>
                </div>
                <div   ng-hide="{{feed.comments.length<1}}"class="item-comments">
                    <a ng-hide="{{feed.comments.length-1<1}}" href="#" class="show-comments">Mostrar <span class="comments-count">{{feed.comments.length-1}}</span> comentarios previos</a>
                    <ul class="comments-list">
                        <li class="comment  " ng-repeat="comments in feed.comments" ng-class="!$last ? ' ' : 'last-comment'">
                            <h3>{{comments.name}}</h3>
                            <p>{{comments.comment}}</p>
                            <p class="date">{{comments.date}}</p>
                        </li>
                       
                    </ul>
                </div>
            </div>

            <div class="item tabs tabs-icon-only tabs-light tabs-secondary">
               <a class="tab-item" ng-click="toggle.state = !toggle.state" ng-class="{'active' : toggle.state}" href="#" onclick="return false;">
                    <i class="icon sprite icon-message"></i>
                </a>
                <a class="tab-item show-follow"   ng-class="{'active' : feed.follow.length>0,'':feed.follow.length==0}" href="#">
                    <i class="icon sprite icon-mark" ng-class="{'active' : feed.follow.length>0,'':feed.follow.length==0}"></i>
                </a>
                <a class="tab-item show-share" href="#">
                    <i class="icon sprite icon-share"></i>
                </a>
                <a class="tab-item btn-favorite"  href="#" ng-class="{'active' : feed.favfolder.length>0,'':feed.favfolder.length==0}" onclick="return false;">
                    <i class="icon sprite icon-favorite" ng-class="{'active' : feed.favfolder.length>0,'':feed.favfolder.length==0}"></i>
                </a>
                  <a class="tab-item"  href="#" ng-controller="FunctionCtrl" ng-click="print({{feed.id}})" >
                    <i class="icon sprite icon-print"></i>
                </a>
            </div>
            <div class="list input-comment">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" class="add_comment" placeholder="Escribe un comentario...">
                    </label>
                    <button class="button button-small add_comment_btn" >
                        Enviar
                    </button>
                </div>
            </div>			

        </ion-item>
            
        <!-- END: card -->
 
    </ion-content>
</ion-view>
<!--div class="lightbox lightbox-favorited has-subheader" ng-controller="FunctionsCtrl">
    <form >
    <div class="lightbox-favorited-header">
        <h4>Selecciona un archivo favorito</h4>
    </div>
    <div class="lightbox-favorited-content">
        <div class="list has-excerpt favorite_folders"> 
            
            <li class="category-element item item-avatar item-icon-left item-button-right list_folder" ng-repeat="folder in user_data.favfolder" data-id="{{folder.id}}" >
                <input class="btn-invisible folder_add" type="checkbox" ng-true-value="'{{folder.id}}'" data-id="{{folder.id}}" >
                <i class="sprite2x icon icon-folder">{{folder.total}}</i>
                <h2>{{folder.title}}</h2>
                <a class="button button-outline button-positive btn-delete" href="#">Eliminar</a>
            </li>     
			<input class="feed_id" type="hidden" value="" >
        </div>
    </div>
    <div class="lightbox-favorited-add">
        <a class="btn-add-folder" href="#">Agregar archivero favorito</a>
    </div>
    <div class="lightbox-favorited-actions clearfix">
        <button class="button button-outline button-positive add_to_favfolder" type="submit" ng-click="">Aceptar</button>
        <a class="close-lightbox" href="#">Cancelar</a>
    </div>
    </form>
</div>

<div class="warning warning-remove">
    <div class="warning-remove-container center">
        <div class="warning-remove-content">
            <p>Remover este Feed hará que desaparezca definitivamente de sus Archivos Favoritos</p>
        </div>
        <div class="warning-remove-actions clearfix">
            <button class="button button-outline button-positive btn-remove-favorited" type="submit">Confirmar</button>
            <a class="hide-warning" href="#">Cancelar</a>
        </div>
    </div>
</div>

<div class="lightbox lightbox-share has-subheader padding">
    <form>
        <div class="lightbox-share-header">
            <h4>Compartir por E-mail</h4>
        </div>
        <div class="lightbox-share-content">
            <label>
                <span>To:</span>
                <input type="email" placeholder="name@domain.com"> 
            </label>
            <label>
                <span>Cc:</span>
                <input type="email" placeholder=""> 
            </label>
            <label>
                <span>Subject:</span>
                <input type="email" placeholder="Legix Feed-07/mayo/2015"> 
            </label>
            <textarea disabled>Diputados
                
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna blandit gravida interdum. Duis volutpat id dolor euismod volutpat. Praesent velit nisi, imperdiet a lorem eu, gravida tempus elit. Pellentesque pretium varius erat, vel accumsan mauris tincidunt eget.
            </textarea>
            <input type="text" name="attachment" value="Archivo.pdf" disabled>
            <input type="texr" name="credit" value="CREDITO: Legis Feed - www.legixfeed.com.mx" disabled>
        

            <div class="lightbox-favorited-actions clearfix">
                <button class="button button-outline button-positive" type="submit">Aceptar</button>
                <a class="close-lightbox" href="#">Cancelar</a>
            </div>
        </div>
    </form>
</div-->
