<ion-view view-title="{{group.title}}">
    <!-- BEGIN: header -->
    <ion-header-bar class="bar-positive" align-title="center">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Legix</h1>
        <button class="button button-icon icon ion-search"></button>
    </ion-header-bar>
    <!-- END: header -->
    <!-- BEGIN: sub header -->
    <ion-nav-bar class="bar-dark bar-subheader bar-secondary" align-title="left">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <!-- END: sub header -->
    
    <ion-content class="has-subheader"> 
        
        <div class="list"> 
            
            <div class="item item-divider" ng-show="{{group.users.length>1}}" >
                {{group.users.length}} participantes
            </div>
			<div class="item item-divider" ng-hide="{{group.users.length>1}}" >
                {{group.users.length}} participante
            </div>
            
            <div class="images-content">
                <ul class="image-list">
                    
                    <li ng-repeat="user in group.users">
                        <div class="circle-picture">
                            <img src="http://legixapp.abardev.net{{user.src_img}}" alt="{{user.name}}">
                        </div>
                        <h2>{{user.first_name}} {{user.last_name}}</h2>
                    </li>   
                </ul>
                
                <a id="show-all" class="button button-outline button-positive" href="javascript:void(0);">Ver todos</a>
                   
            </div>
            
            <div class="item item-divider">
                Temas
            </div>
            
            <div class="list category-list padding has-circle"> 
            
                <li class="category-element item item-avatar item-icon-left item-button-right" ng-repeat="tema in group.temas">
					<a class="btn-invisible" href="#/tab/groups/group/{{tema.group_id}}/feeds/{{tema.origen}} | {{tema.tema}}/{{tema.subject_id}}/{{tema.origen_id}}"></a>
                    <i class="icon icon-circle">{{tema.total_feeds}}</i>
                    <!--h2>{{tema.origen}}|{{tema.tema}}</h2-->
                    <h2>{{tema.tema}}</h2>
                </li>

            </div>

        </div>
        
    </ion-content>
</ion-view>
