<ion-view view-title="Feed">
    <ion-content class="padding has-subheader bg-color-1"> 
        
        <!-- BEGIN: card -->
        <ion-item class="list card" ng-repeat="feed in feeds">

            <div class="item item-header item-thumbnail-left">
                <img class="small-image" ng-src="http://legixapp.abardev.net{{ feed.src_img }}">
                <h2>{{ feed.name }}</h2>
                <h3>{{ feed.from }}</h3>
                <p>{{ feed.update | date }}</p>
            </div>

            <div class="item item-body">
                <p ng-bind-html="feed.content"></p>
                <div class="item-attachments">
                    <a ng-repeat="docs in feed.docs" href="http://legixapp.abardev.net{{ docs.src_file }}" download="{{docs.file}}">
                        <i class="icon ion-android-attach"></i>
                        {{docs.file}}
                    </a>
                </div>
                <div   ng-hide="{{feed.comments.length<1}}"class="item-comments">
                    <a ng-hide="{{feed.comments.length-1<1}}" href="#" class="show-comments">Mostrar <span class="comments-count">{{feed.comments.length-1}}</span> comentarios previos</a>
                    <ul class="comments-list">
                        <li class="comment  " ng-repeat="comments in feed.comments" ng-class="!$last ? ' ' : 'last-comment'">
                            <h3>{{comments.name}}</h3>
                            <p>{{comments.comment}}</p>
                            <p class="date">{{comments.date}}</p>
                        </li>
                       
                    </ul>
                </div>
            </div>

            <div class="item tabs tabs-icon-only tabs-light tabs-secondary">
                <a class="tab-item" ng-click="toggle.state = !toggle.state" ng-class="{'active' : toggle.state}" href="#">
                    <i class="icon sprite icon-message"></i>
                </a>
                <a class="tab-item" ng-click="toggle.state = !toggle.state" ng-class="{'active' : toggle.state}" href="#">
                    <i class="icon sprite icon-mark"></i>
                </a>
                <a class="tab-item" ng-click="toggle.state = !toggle.state" ng-class="{'active' : toggle.state}" href="#">
                    <i class="icon sprite icon-share"></i>
                </a>
                <a class="tab-item" ng-click="toggle.state = !toggle.state" ng-class="{'active' : toggle.state}" href="#">
                    <i class="icon sprite icon-favorite"></i>
                </a>
                <a class="tab-item" ng-click="toggle.state = !toggle.state" ng-class="{'active' : toggle.state}" href="#">
                    <i class="icon sprite icon-print"></i>
                </a>
            </div>

        </ion-item>
        <!-- END: card -->
 
    </ion-content>
</ion-view>
