<ion-view view-title="{{folder_name}}">
    <!-- BEGIN: header -->
    <ion-header-bar class="bar-positive" align-title="center">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Legix</h1>
        <button class="button button-icon icon ion-search"></button>
    </ion-header-bar>
    <!-- END: header -->
    <!-- BEGIN: sub header -->
    <ion-nav-bar class="bar-dark bar-subheader bar-secondary" align-title="left">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <!-- END: sub header -->
    <ion-content class="padding has-subheader bg-color-1"> 
        <!--div class="seen-menu clearfix">
		 
            <a class="reads  nof_read" ng-class="{'active':noread>0, ' ':noread==0}" data-class="feed_noread" href="#" ontouchstart="return false;" data-read="{{noread}}">No leídos ({{noread}})</a> 
            <a  class="reads" ng-class="{'active':noread==0, ' ':noread>0}"  data-class="feed_read" href="#" ontouchstart="return false;" >Leídos</a>
        </div-->        
        <!-- BEGIN: card -->
		<div class="list-card"   ng-switch="flag" ng-show="flag" ng-hide="flag==false">
            <div class="item item-header item-empty">
                <h2 ng-switch-when="true">Cargando Feeds...</h2>
                <h2 ng-switch-when="no_feeds">No hay Feeds en esta carpeta</h2>
            </div>
        </div >
		
        <ion-item class="list card feeds" data-id="{{feed.id}}" data-followids="{{feed.asuntos_str}}" data-follow="{{feed.follow.length}}" ng-repeat="feed in feeds" ng-class="{'feed_noread': feed.read==0, 'feed_read': feed.read==1}" ng-show="(feed.folder&&feed.read==0&&noread!=0)||(feed.folder&&feed.read==1&&noread==0)">
		<!--ion-item class="list card feeds" ng-repeat="feed in feeds" ng-show="feed.folder"-->
			<input type="hidden" class="asunto_name" value="{{feed.asunto_name}}" />
           
            <div class="item item-header item-thumbnail-left">
                <img class="small-image" ng-src="http://legixapp.abardev.net{{ feed.src_img }}">
                <h2>{{ feed.title_origin }}</h2>
                <h3>({{ feed.title_themes }})</h3>
                <p>{{ feed.title_source }}</p>
                <p>{{ feed.date }}</p>
				<a class="read"  ng-class="{'': feed.read==0, 'active': feed.read==1}" href="#"><i class="" ng-class="{'ion-ios-checkmark-outline': feed.read==0, 'ion-ios-checkmark': feed.read==1}"></i></a>
          </div>

            <div class="item item-body">
                <p ng-bind-html="feed.content"></p>
                 <div class="item-attachments" ng-controller="FunctionCtrl">
                    <a ng-repeat="docs in feed.docs" href="#" ng-value="'http://legixapp.abardev.net{{docs.src_file}}'" ng-click="download('http://legixapp.abardev.net{{ docs.src_file }}')" download="{{docs.file}}">
                        <i class="icon ion-android-attach"></i>
                        {{docs.file}}
                    </a>
                </div>
                <div class="item-subject">
                    <ul>
                        <li class="li-subject" ng-class="{'disregard':$index<2,'':$index>1}" ng-repeat="asuntos in feed.asuntos_name"><a class="subject" href="#" ontouchstart="return false;">{{asuntos}}</a></li>
                        <li ng-show="feed.asuntos_name.length>2"><a class="subject-more" href="#">+ Ver todos</a></li>
                    </ul>
                </div>
                <div   ng-hide="{{feed.comments.length<1}}"class="item-comments">
                    <a ng-hide="{{feed.comments.length-1<1}}" href="#" class="show-comments">Mostrar <span class="comments-count">{{feed.comments.length-1}}</span> comentarios previos</a>
                    <ul class="comments-list">
                        <li class="comment  " ng-repeat="comments in feed.comments" ng-class="!$last ? ' ' : 'last-comment'">
                            <h3>{{comments.name}}</h3>
                            <p>{{comments.comment}}</p>
                            <p class="date">{{comments.date}}</p>
                        </li>
                       
                    </ul>
                </div>
            </div>

            <div class="item tabs tabs-icon-only tabs-light tabs-secondary">
                <a class="tab-item" ng-click="toggle.state = !toggle.state" ng-class="{'active' : toggle.state}" href="#" ontouchstart="return false;">
                    <i class="icon sprite icon-message"></i>
                </a>
               <a class="tab-item show-follow"   ng-class="{'active' : feed.follow.length>0,'':feed.follow.length==0}" href="#">
                    <i class="icon sprite icon-mark" ng-class="{'active' : feed.follow.length>0,'':feed.follow.length==0}"></i>
                </a>
                <a class="tab-item show-share" href="#">
                    <i class="icon sprite icon-share"></i>
                </a>
                <a class="tab-item btn-favorite"  href="#" ng-class="{'active' : feed.favfolder.length>0,'':feed.favfolder.length==0}" ontouchstart="return false;">
                    <i class="icon sprite icon-favorite" ng-class="{'active' : feed.favfolder.length>0,'':feed.favfolder.length==0}"></i>
                </a>
                  <a class="tab-item"  href="#" ng-controller="FunctionCtrl" ng-click="print({{feed.id}})" >
                    <i class="icon sprite icon-print"></i>
                </a>
            </div>
            <div class="list input-comment">
                <div class="item item-input-inset">
                    <label class="item-input-wrapper">
                        <input type="text" class="add_comment" placeholder="Escribe un comentario...">
                    </label>
                    <button class="button button-small add_comment_btn" >
                        Enviar
                    </button>
                </div>
            </div>		
        </ion-item>
        <!-- END: card -->
	<!--script>	
	$(document).load(function(){
				var num=$(".feeds".size());
				alert(num);
		 
		});
		
	</script-->	
    </ion-content>
</ion-view>

