<ion-view view-title="Configurar Temas">
    <div class="bar bar-header item-input-inset bar-dark">
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="Buscar">
        </label>
        <button class="button button-clear">
            Cancelar
        </button>
    </div>
  <!-- BEGIN: sub header -->
    <ion-nav-bar class="bar-dark bar-subheader bar-secondary" align-title="left">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <!-- END: sub header -->   
    <ion-content class="padding has-subheader"> 
        <div class="header padding">
            <h2>Bienvenido {{ user_data.first_name}} {{user_data.last_name}}</h2>
            <p> 
                <a class="icon ion-help-circled show-tutorial" href="#temas" onclick="return false;"></a>
                Elige los temas que te interesa seguir, y que quieres que Legix te notifique:
            </p>
        </div>
        <input type="hidden" id="count_tema" data-topic="{{user_data.topics}}" data-temas="{{user_data.temas.length}}"/>
        <form >
        <ul class="list list-style">
                
            <!-- BEGIN: list-->
            <li class="item li-master" ng-repeat="temas in themes">

                <div class="list-header">
                    <a class="list-expand item-icon-right" href="#">
                        <h2>{{temas.name}}</h2>
                        <i class="icon ion-arrow-down-b" ng-hide="temas.tema.length<1"></i>
                    </a>
                </div>
                <ul class="list-content">
                    <li class="item li-parent" ng-repeat="tema in temas.tema">
                        <div class="list-header item item-checkbox item-icon-right">
                            <label class="checkbox">
                               <input type="checkbox" class="tema_id" ng-value="tema.id" data-name="{{tema.name}}">
                            </label>
                            {{tema.name}}
                            <a class="icon list-expand" href=""><i ng-hide="tema.comision.length<1" class="icon ion-arrow-down-b"></i></a>
                        </div>
                        <ul class="list-content">
                            <li class="item item-checkbox li-children" ng-repeat="comision in tema.comision">
                                <!--<label class="checkbox">
                                   <input type="checkbox">
                                </label>-->
                                {{comision.title}}
                            </li>

                            <li class="item item-checkbox li-children">
                                <!--<label class="checkbox">
                                    <input type="checkbox">
                                </label>-->
                                Público
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>       
            <!-- END: list -->
        </ul>
            
        <div class="list-actions padding clearfix">
            <button class="button button-outline button-positive show-warning ok_temas" type="">Siguiente</button>
            <a class="btn-next" href="#/tab/feeds">Agregar mis temas despues</a>
        </div>
        </form>
        
    </ion-content>
</ion-view>

<!--<div class="transition tutorial">
    
    <div class="step step-1">
        <div class="focus"></div>
        <div class="text">
            <span class="step-number">1</span>
            <p>Selecciona el origen para mostrar sus temas</p>
        </div>
    </div>
    
    <div class="step step-2">
        <div class="focus"></div>
        <div class="text">
            <span class="step-number">2</span>
            <p>Elige un tema y/o toca el icono ( <span class="icon ion-arrow-down-b"></span> ) para mortrar su contenido</p>
        </div>
    </div>
    
    
    <a class="hide-tutorial button button-outline button-positive " href="#">Cerrar</a>
</div>-->
