<ion-view view-title="Mi perfil">
    <!-- BEGIN: header -->
    <ion-header-bar class="bar-positive" align-title="center">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Legix</h1>
        <button class="button button-icon icon ion-search"></button>
    </ion-header-bar>
    <!-- END: header -->
    <!-- BEGIN: sub header -->
    <ion-nav-bar class="bar-dark bar-subheader bar-secondary" align-title="left">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <!-- END: sub header -->
    
    <ion-content class="has-subheader"> 
       
        <div class="list perfil-list">
		
            <form>
            
                <div class="item item-avatar item-thumbnail-left" href="javascript:void(0);">
                    <a class="btn-upload" href="javascript:void(0);"  >
                        <img src="{{user_data.src_img}}" id="image">
						<input type="text" ng-model="data.thumbnail" id="image_name" style="display:none;">
						<input type="text"  id="type_user" ng-model="data.type_id" ng-value="{{user_data.type_id}}"style="display:none;">
						<input type="text"  id="newimg" ng-model="data.archivos"style="display:none;">
                        <span class="txt">Editar</span>
                    </a>
                    <p>Elija una foto y un nombre de usuario para su perfil</p>
                </div>
                
                <div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="" value="{{user_data.first_name}}" ng-value="user_data.first_name" ng-model="data.first_name">
                    </label>
                </div>
				<div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="" value="{{user_data.last_name}}" ng-value="user_data.last_name" ng-model="data.last_name">
                    </label>
				</div>
				<div class="list list-inset">
                    <label class="item item-input">
                        <input type="text" placeholder="" value="{{user_data.alias}}" ng-value="user_data.alias" ng-model="data.alias">
                    </label>	
                </div>
                
                <ul class="list">
                    <li class="item-button-right">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Correo electrónico</span>
                            <input type="email" placeholder="{{user_data.email}}" disabled>
                        </label>
                        <!--a class="button button-outline button-positive" href="javascript:void(0);">Editar</a-->
                    </li>
                    <li class="item-button-right">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Contraseña</span>
                            <input type="password" placeholder="******"  ng-model="data.password">
                        </label>
                        <!--a class="button button-outline button-positive" href="javascript:void(0);">Editar</a-->
                    </li>
                    <li>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Suscripción</span>
                            <input type="text" placeholder="{{user_data.legix_id}}" disabled>
                        </label>
                    </li>
                    <li>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">Empresa</span>
                            <input type="text" placeholder="{{user_data.company}}" disabled>
                        </label>
                    </li>
                </ul>
                
                <div class="form-actions padding clearfix">
                    <button class="button button-outline button-positive center"  ng-click="update()">Guardar</button>
                    <!--button class="button button-outline button-positive center" ontouchstart="window.location.href='#/tab/myfeeds';" style="margin-top:0px!important;">Cancelar</button-->
                </div>

            </form>
        </div>

    </ion-content>
</ion-view>
