<ion-view view-title="{{user_data.first_name}} {{user_data.last_name}}">
    <!-- BEGIN: header -->
    <ion-header-bar class="bar-positive" align-title="center">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
            <h1 class="title">Legix</h1>
        <button class="button button-icon icon ion-search"></button>
    </ion-header-bar>
    <!-- END: header -->
    <!-- BEGIN: sub header -->
    <ion-nav-bar class="bar-dark bar-subheader bar-secondary" align-title="left">
        <ion-nav-back-button></ion-nav-back-button>
    </ion-nav-bar>
    <!-- END: sub header -->
    
    <ion-content class="has-subheader">
		<div class="header-blue padding">
            <h2>Mis Favoritos</h2>
            <a class="icon ion-gear-b btn-add-folder" href="javascript:void(0);"></a>
        </div>
		<div class="list-card msg" ng-show="favorites.length<1">
            <div class="item item-header item-empty">
                <h2 >No tienes carpetas de archivo.</h2>
                <h2><a class="icon ion-gear-b btn-add-folder" href="javascript:void(0);"> Crea tus carpetas</a> y agrega tu Feed seleccionando el ícono <i class="icon sprite icon-favorite"></i>.</h2>
            </div>
        </div >
        <div class="padding list category-list has-excerpt favorite_feeds"> 
            
            <li class="category-element item item-avatar item-icon-left item-button-right" ng-repeat="favorite in user_data.favfolder track by $index" data-id="{{favorite.id}}">
                <a class="btn-invisible" href="#/tab/favorites/feed/{{ favorite.name }}/{{favorite.id}}"></a>
                <i class="sprite2x icon icon-folder">{{ favorite.total }}</i>
                <h2>{{ favorite.name }}</h2>
                <p>{{ favorite.text }}</p>
                <a class="button button-outline button-positive show-lightbox-folder" href="javascript:void(0);" onclick="return false;">Editar</a>
            </li>

        </div>
    </ion-content>
</ion-view>
