<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->


<ion-tabs class="tabs-icon-top tabs-dark">

    <!-- home Tab -->
    <ion-tab title="Feeds" icon-off="sprite icon-feeds" icon-on="sprite icon-feeds-active" href="#/tab/feeds">
        <ion-nav-view name="tab-feeds"></ion-nav-view>
    </ion-tab>

    <!-- feeds Tab -->
    <ion-tab title="Mis Feeds" icon-off="sprite icon-myfeeds" icon-on="sprite icon-myfeeds-active" href="#/tab/myfeeds">
        <ion-nav-view name="tab-myfeeds"></ion-nav-view>
    </ion-tab>

    <!-- following Tab -->
    <ion-tab title="Siguiendo" icon-off="sprite icon-following" icon-on="sprite icon-following-active" href="#/tab/following">
        <ion-nav-view name="tab-following"></ion-nav-view>
    </ion-tab>
    
    <!-- groups Tab -->
    <ion-tab title="Grupos" icon-off="sprite icon-groups" icon-on="sprite icon-groups-active" href="#/tab/groups">
        <ion-nav-view name="tab-groups"></ion-nav-view>
    </ion-tab>
    
    <!-- favorites Tab -->
    <ion-tab title="Favoritos" icon-off="sprite icon-favorites" icon-on="sprite icon-favorites-active" href="#/tab/favorites">
        <ion-nav-view name="tab-favorites"></ion-nav-view>
    </ion-tab>
    
	<ion-tab>
	<ion-nav-view name="tab-profile"></ion-nav-view>
	</ion tab>
</ion-tabs>