<ion-view view-title="{{user_data.first_name}} {{user_data.last_name}}">
    <ion-content class="has-subheader"> 
        <div class="header-blue padding">
            <p>Registra a tus usuarios en Legix</p>
            <a class="icon ion-help-circled show-tutorial" href="#users" onclick="return false;"></a>
        </div>
        
        <form>
        <div class="user-container">
            <form>
                <ul class="list">
                    <li>
                        <label class="item item-input item-stacked-label">
                            <span class="input-label">ID Legix</span>
                            <input type="email" placeholder="000000" disabled>
                        </label>
                    </li>
                    <li>
                        <label class="item item-input border item-stacked-label">
                            <span class="input-label">Nombre completo</span>
                            <input type="text" placeholder="Nombre y Apellidos">
                        </label>
                    </li>
                    <li>
                        <label class="item item-input border item-stacked-label">
                            <span class="input-label">Correo electrónico</span>
                            <input type="email" placeholder="nombre@correo.com">
                        </label>
                    </li>
                </ul>
            </form>
        </div>
            
        <div class="list-actions list-actions-border clearfix">
            <button class="button button-outline button-positive" type="submit">Agregar</button>
            <button class="button button-outline button-positive" onclick="window.location.href='#/tab/feeds'">Agregar después</button>
        </div>
        </form>
        
    </ion-content>
</ion-view>
