<?xml version='1.0' encoding='utf-8'?>
<widget id="com.abargon.Legix" version="1.1.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>Legix</name>
    <description>
         An Ionic Framework and Cordova project.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />

    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="false" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
	<preference name="SplashScreen" value="splashscreen" />
	<preference name="SplashScreenDelay" value="1000" />
    <gap:plugin name="org.apache.cordova.battery-status" />
    <gap:plugin name="org.apache.cordova.camera" />
    <gap:plugin name="org.apache.cordova.media-capture" />
    <gap:plugin name="org.apache.cordova.console" />
    <gap:plugin name="org.apache.cordova.contacts" />
    <gap:plugin name="org.apache.cordova.device" />
    <gap:plugin name="org.apache.cordova.device-motion" />
    <gap:plugin name="org.apache.cordova.device-orientation" />
    <gap:plugin name="org.apache.cordova.dialogs" />
    <!--gap:plugin name="org.apache.cordova.file" source="npm" />
    <gap:plugin name="org.apache.cordova.file-transfer" source="npm"/-->
    <gap:plugin name="org.apache.cordova.geolocation" />
    <gap:plugin name="org.apache.cordova.globalization" />
    <gap:plugin name="org.apache.cordova.inappbrowser" source="npm"/>
    <!--gap:plugin name="com.cordova.plugin.inappbrowser.with.loading.spinner" version="1.0.13" /-->
    <!--gap:plugin name="org.li8.inappbrowser" version="0.1" /-->
    <gap:plugin name="org.apache.cordova.media" />
    <gap:plugin name="org.apache.cordova.network-information" />
    <gap:plugin name="org.apache.cordova.splashscreen" />
    <gap:plugin name="org.apache.cordova.vibration" />
	<gap:plugin name="nl.x-services.plugins.socialsharing" />
	<gap:plugin name="io.github.pwlin.cordova.plugins.fileopener2" version="1.0.11" />
    <gap:plugin name="de.appplant.cordova.plugin.printer" version="0.7.1" />
	
    
    <!--gap:plugin name="com.medlei.pushplugin" version="0.1.2"-->
    <gap:plugin name="com.parse.cordova.core.pushplugin">
        <param name="APP_ID" value="psoFy4hpOEHy7mgg3L4tCAyDeJuCRwpOXHH8xVtp" />
        <param name="CLIENT_KEY" value="Efa1wjc3W9xk7QhAzpL9uVJib30p3aoRn6LFEy7u" />
    </gap:plugin>
    
    <icon src="icon.png" />
    <icon gap:platform="android" gap:qualifier="ldpi" src="res/icon/android/drawable-hdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="mdpi" src="res/icon/android/drawable-ldpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="hdpi" src="res/icon/android/drawable-mdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/drawable-xhdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/drawable-xxhdpi/ic_launcher.png" />
    <icon gap:platform="android" gap:qualifier="xhdpi" src="res/icon/android/drawable-xxxhdpi/ic_launcher.png" />

    <icon gap:platform="ios" height="57" src="res/icon/ios/icon-57.png" width="57" />
    <icon gap:platform="ios" height="72" src="res/icon/ios/icon-72.png" width="72" />
    <icon gap:platform="ios" height="114" src="res/icon/ios/icon-57-2x.png" width="114" />
    <icon gap:platform="ios" height="144" src="res/icon/ios/icon-72-2x.png" width="144" />
    <icon gap:platform="ios" height="40" src="res/icon/ios/Icon-40.png" width="40" />
    <icon gap:platform="ios" height="80" src="res/icon/ios/Icon-40@2x.png" width="80" />
    <icon gap:platform="ios" height="120" src="res/icon/ios/Icon-40@3x.png" width="120" />
    <icon gap:platform="ios" height="120" src="res/icon/ios/Icon-60@2x.png" width="120" />
    <icon gap:platform="ios" height="180" src="res/icon/ios/Icon-40@3x.png" width="180" />
    <icon gap:platform="ios" height="76" src="res/icon/ios/Icon-76.png" width="76" />
    <icon gap:platform="ios" height="152" src="res/icon/ios/Icon-76@2x.png" width="152" />
    <icon gap:platform="ios" height="29" src="res/icon/ios/Icon-Small.png" width="29" />
    <icon gap:platform="ios" height="58" src="res/icon/ios/Icon-Small@2x.png" width="58" />
    <icon gap:platform="ios" height="87" src="res/icon/ios/Icon-Small@3x.png" width="87" />

    <icon gap:platform="webos" src="res/icon/webos/icon-64.png" />

    <icon gap:platform="winphone" src="res/icon/windows-phone/icon-48.png" />
    <icon gap:platform="winphone" gap:role="background" src="res/icon/windows-phone/icon-173-tile.png" />
    
    <gap:splash gap:platform="android" gap:qualifier="port-ldpi" src="res/screen/android/splash.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-mdpi" src="res/screen/android/splash.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-hdpi" src="res/screen/android/splash.png" />
    <gap:splash gap:platform="android" gap:qualifier="port-xhdpi" src="res/screen/android/splash.png" />

    <gap:splash gap:platform="ios" height="480" src="res/screen/ios/Default~iphone.png" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/screen/ios/Default@2x~iphone.png" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="res/screen/ios/Default-Portrait~ipad.png" width="768" />
    <gap:splash gap:platform="ios" height="2048" src="res/screen/ios/Default-Portrait@2x~ipad.png" width="1536" />
    <gap:splash gap:platform="ios" height="768" src="res/screen/ios/Default-Landscape~ipad.png" width="1024" />
    <gap:splash gap:platform="ios" height="1536" src="res/screen/ios/Default-Landscape@2x~ipad.png" width="2048" />
    <gap:splash gap:platform="ios" height="1136" src="res/screen/ios/Default-568h@2x~iphone.png" width="640" />
    <gap:splash gap:platform="ios" height="1334" src="res/screen/ios/Default-667h.png" width="750" />
    <gap:splash gap:platform="ios" height="2208" src="res/screen/ios/Default-736h.png" width="1242" />
    <gap:splash gap:platform="ios" height="1242" src="res/screen/ios/Default-Landscape-736h.png" width="2208" />

    <gap:splash gap:platform="winphone" src="res/screen/windows-phone/splashscreen.png" />

	<feature name="SocialSharing">
		<param name="android-package" value="nl.xservices.plugins.SocialSharing" />
		<param name="ios-package" value="CDVSocialSharing" />
	</feature> 
    <feature name="SplashScreen">
        <param name="android-package" value="org.apache.cordova.SplashScreen" />
        <param name="ios-package" value="CDVSplashScreen" />
    </feature>
    <feature name="PushPlugin">
        <param name="ios-package" value="CDVPushPlugin" />
        <param name="android-package" value="com.parse.cordova.core.pushplugin" />
        <!--param name="android-package" value="com.plugin.gcm.PushPlugin" /-->
        <!--param name="android-package" value="com.medlei.pushplugin" /-->
    </feature>
    
    <gap:plugin name="cordova-plugin-whitelist" source="npm" />
    <access origin="*" launch-external="yes" />
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <engine name="ios" spec="^3.8.0" />
    <engine name="android" spec="^4.1.1" />
</widget>
