<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title>Legix</title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
	<!--script src="lib/ionic/js/angular/angular.js"></script--> 
	<script src="lib/ionic/js/angular/angular-route.js"></script> 
	<script src="lib/ionic/js/angular/angular-cookies.min.js"></script> 


    <!-- cordova script (this will be a 404 during development) -->
	
	<script type="text/javascript" charset="utf-8" src="js/SocialSharing.js"></script>
	<script src="js/ng-cordova.min.js"></script>
    <script src="cordova.js"></script>
    
    <script src="js/jquery-1.11.3.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/services.js"></script>
    <script src="js/page-code.js"></script>
	 <script src="js/load_picture.js" type="text/javascript"></script>
    <!--<script src="js/favorites.js"></script>-->

	 
 
</head>
    
<body ng-app="starter" ng-controller="MainCtrl" animation="slide-left-right" ><!--on-load="init()"-->
   
   
    <ion-side-menus >
         <!-- BEGIN: content -->
        <ion-side-menu-content>
            <ion-nav-view animation="slide-left-right"></ion-nav-view>
        </ion-side-menu-content>
        <!-- END: content -->
        <!-- BEGIN: content >
        <ion-side-menu-content>
            
            <!-- BEGIN: header >
            <ion-header-bar class="bar bar-header bar-positive" align-title="center">
                <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
                    <h1 class="title">Legix</h1>
                <button class="button button-icon icon ion-search"></button>
            </ion-header-bar>
            <!-- END: header -->
<!-- BEGIN: ion-nav-view >
            <ion-nav-view >
                
                <!-- BEGIN: sub header ->
                <ion-nav-bar class="bar-dark bar-subheader bar-secondary" align-title="left"  >
                    <ion-nav-back-button></ion-nav-back-button>
                </ion-nav-bar>
                <!-- END: sub header ->
            
            </ion-nav-view>
            <!-- END: ion-nav-view ->
            
            
          
            
        </ion-side-menu-content>
        <!-- END: content -->
        
        <!-- BEGIN: left menu -->
        <ion-side-menu side="left" width="myWidthValue + 300"  menu-toggle="left">
            <div class="side-menu-header">
               
                <div class="circle-picture">
                    <a href="#/profile">
                        <img src="{{user_data.src_img}}" alt="{{ user_data.first_name}}">
                    </a>
                </div>
                <h2>{{ user_data.first_name}} {{user_data.last_name}}</h2>
            </div>
            <ul class="side-menu-list">
                <li><a href="#/tab/myfeeds"><i class="icon sprite icon-myfeeds"></i>Mis feeds</a></li>
                <li><a href="#/configuracion"><i class="icon sprite icon-config"></i>Configuración</a></li>
                <li><a href="#/acerca/?#19"><i class="icon sprite icon-about"></i>Acerca de Legix</a></li>
                <li><a href="#/login" ng-controller="LoginCtrl" ng-click="logout()"><i class="icon sprite icon-logout"></i>Cerrar sesión</a></li>
                <li><a href="#/politica-de-privacidad/?#6"><i class="icon sprite icon-priv"></i>Política de privacidad</a></li>
                <li><a href="#/terminos-y-condiciones/?#7"><i class="icon sprite icon-term"></i>Términos y condiciones</a></li>
            </ul>
        </ion-side-menu>
        <!-- END: left menu -->
        
    </ion-side-menus>

    <div class="warning grl">
        <div class="warning-container center">
            <div class="warning-content grl">
                <p>
                    No has dado de alta ningún Tema. Sin personalización de Temas, 
                    solo recibirás el Feed genérico sin notificaciones en las sección 
                    de Temas ni de Mis Feeds. Puedes continuar y posteriormente hacerlo.
                </p>
            </div>
            <div class="warning-actions grl">
                <a class="hide-warning button button-outline button-positive " id="btn-aceptar" href="#" onclick="return false;">Aceptar</a>
                <a class="button button-outline button-positive hide-warning" id="returns" href="#/tab/config-feeds">Regresar</a>
            </div>
        </div>
    </div>
	<div class="warning"id="load_photo">
        <div class="warning-container center">
            <div class="warning-content">
                <p>
                   Selecciona una imagen para tu perfil:
                </p>
            </div>
            <div class="warning-actions">
                <a class="button button-outline button-positive " id="" href="#" onclick="capturePhoto();">Cámara</a>
                <a class="button button-outline button-positive " id="" href="#" onclick="getPhoto(pictureSource.PHOTOLIBRARY);">Galería</a>
                <a class="button button-outline button-positive hide-warning"  href="#" >Regresar</a>
            </div>
        </div>
    </div>
    
    <div class="share">
        <ul class="share-list">
            <li><h2>Compartir</h2></li>
            <li><a href="#" onclick="window.plugins.socialsharing.shareViaFacebook('Message only')"><i class="icon ion-social-facebook"></i><span>Facebook</span></a></li>
            <li><a href="#" onclick="window.plugins.socialsharing.shareViaTwitter('Message only')"><i class="icon ion-social-twitter"></i><span>Twitter</span></a></li>
            <li><a class="show-lightbox-share" href="#"><i class="icon ion-email"></i><span>E-mail</span></a></li>
            <li><a href="#" onclick="window.plugins.socialsharing.share('Message only')"><i class="icon ion-android-chat"></i><span>Mensaje</span></a></li>
            <li><a class="close-lightbox" href="#">Cancelar</a></li>
        </ul>
    </div>
    
    <div id="temas" class="transition tutorial">
        <div class="step step-1 active">
            <div class="step-header">
                <span class="step-number">1</span>
                <p>Selecciona el origen para mostrar sus temas</p>
            </div>
            <div class="step-content">
                <ul class="list list-style example">
                
                    <!-- BEGIN: list-->
                    <li class="item li-master">

                        <div class="list-header">
                            <div class="point point-1 active"></div><!--- point -->
                            <a class="list-expand item-icon-right" href="#">
                                <h2>Diputados</h2>
                                <i class="icon ion-arrow-down-b"></i>
                            </a>
                        </div>
                        <ul class="list-content">
                            <li class="item li-parent">
                                <div class="list-header item item-checkbox item-icon-right">
                                    <div class="point point-2"></div><!--- point -->
                                    <div class="point point-3"></div><!--- point -->
                                    <label class="checkbox">
                                       <input type="checkbox">
                                    </label>
                                    Hacienda
                                    <a class="icon list-expand" href=""><i class="icon ion-arrow-down-b"></i></a>
                                    
                                </div>
                                <ul class="list-content">
                                    <li class="item item-checkbox li-children">
                                        <!--<label class="checkbox">
                                           <input type="checkbox">
                                        </label>-->
                                        Comisión de hacienda y crédito
                                    </li>

                                    <li class="item item-checkbox li-children">
                                        <!--<label class="checkbox">
                                            <input type="checkbox">
                                        </label>-->
                                        Público
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <!-- END: list-->
                    
                </ul>
            </div>
        </div>
        <div class="tutorial-actions">
            <a class="next-tutorial button button-outline button-positive " href="#" onclick="return false;">Siguiente</a>
            <a class="btn-skip button button-outline button-positive " href="#" onclick="return false;">Omitir</a>
        </div>
    </div>
    
    <div id="users" class="transition tutorial">
        <div class="step step-1 active">
            <div class="step-header">
                <span class="step-number">1</span>
                <p>Selecciona la opción "Agregar usuario", o "Agregar después" pasa saltar este paso.</p>
            </div>
            <div class="step-content">
                <ul class="list list-style example">
                    <div class="list-actions list-actions-border clearfix">
                        <button class="button button-outline button-positive activated" type="submit">Agregar usuario<div class="point point-1 active"></div><!--- point --></button>
                        <button class="button button-outline button-positive" type="submit">Agregar después</button>
                    </div>
                </ul>
            </div>
        </div>
        <div class="step step-2">
            <div class="step-header">
                <span class="step-number">2</span>
                <p>Ingresa los datos solicitados en el formulario y selecciona "Agregar" para guardar el usuario, o "Agregar después" pasa saltar este paso.</p>
            </div>
            <div class="step-content">
                <ul class="list list-style example">
                    <div class="list-actions list-actions-border clearfix">
                        <button class="button button-outline button-positive activated" type="submit">Agregar</button>
                        <button class="button button-outline button-positive" type="submit">Agregar después<div class="point point-1 active"></div><!--- point --></button>
                    </div>
                </ul>
            </div>
        </div>
        <div class="tutorial-actions">
            <a class="next-tutorial button button-outline button-positive " href="#" onclick="return false;">Siguiente</a>
            <a class="btn-skip button button-outline button-positive " href="#" onclick="return false;">Omitir</a>
        </div>
    </div>
    
    <div id="grupos" class="transition tutorial">
        <div class="step step-1 active">
            <div class="step-header">
                <span class="step-number">1</span>
                <p>Selecciona la opción "Crear grupo", o "Crear después" pasa saltar este paso.</p>
            </div>
            <div class="step-content">
                <ul class="list list-style example">
                    <div class="list-actions list-actions-border clearfix">
                        <button class="button button-outline button-positive activated" type="submit">Crear grupo<div class="point point-1 active"></div><!--- point --></button>
                        <button class="button button-outline button-positive" type="submit">Crear después</button>
                    </div>
                </ul>
            </div>
        </div>
        <div class="step step-2">
            <div class="step-header">
                <span class="step-number">2</span>
                <p>Ingresa los datos solicitados en el formulario y elige los integrantes y temas que deseas agregar al grupo y selecciona "Crear" para guardar el grupo, o "Agregar después" pasa saltar este paso.</p>
            </div>
            <div class="step-content">
                <ul class="list list-style example">
                    <div class="list-actions list-actions-border clearfix">
                        <button class="button button-outline button-positive activated" type="submit">Crear</button>
                        <button class="button button-outline button-positive" type="submit">Agregar después<div class="point point-1 active"></div><!--- point --></button>
                    </div>
                </ul>
            </div>
        </div>
        <div class="tutorial-actions">
            <a class="next-tutorial button button-outline button-positive " href="#" onclick="return false;">Siguiente</a>
            <a class="btn-skip button button-outline button-positive " href="#" onclick="return false;">Omitir</a>
        </div>
    </div>
    
    <div class="lightbox lightbox-search">
        <form ng-controller="FeedsCtrl" >
        <div class="bar bar-header item-input-inset bar-dark">
            <label class="item-input-wrapper">
                <i class="icon ion-ios-search placeholder-icon"></i>
                <input type="search" id="search" placeholder="Buscar" ng-model="data.busqueda" ng-enter="" >
            </label>
            <button class="button button-clear btn-cancel" >
                Cancelar
            </button>
        </div>
        </form>
    </div>
	<div class="lightbox lightbox-favorited has-subheader" >
		<form >
		<div class="lightbox-favorited-header">
			<h4>Selecciona un archivo favorito</h4>
		</div>
		<div class="lightbox-favorited-content">
			<div class="list has-excerpt favorite_folders"> 
				
				<li class="category-element item item-avatar item-icon-left item-button-right list_folder" ng-repeat="folder in user_data.favfolder" data-id="{{folder.id}}" >
					<input class="btn-invisible folder_add" type="checkbox" ng-true-value="'{{folder.id}}'" data-id="{{folder.id}}" >
					<i class="sprite2x icon icon-folder">{{folder.total}}</i>
					<h2>{{folder.title}}</h2>
					<a class="button button-outline button-positive btn-delete" href="#">Eliminar</a>
				</li>     
				<input class="feed_id" type="hidden" value="" >
			</div>
		</div>
		<div class="lightbox-favorited-add">
			<a class="btn-add-folder" href="#">Agregar archivero favorito</a>
		</div>
		<div class="lightbox-favorited-actions clearfix">
			<button class="button button-outline button-positive add_to_favfolder" type="submit">Aceptar</button>
			<a class="close-lightbox" href="#">Cancelar</a>
		</div>
		</form>
	</div>
	<div class="lightbox lightbox-follow has-subheader">
		<form >
		<div class="lightbox-favorited-header">
			<h4>Selecciona un asunto a seguir</h4>
		</div>
		<div class="lightbox-favorited-content">
			<div class="list has-excerpt favorite_folders" id="follow_asunto"> 
				
				<input class="feed_id" type="hidden" value="" >
			</div>
		</div>
		<!--div class="lightbox-favorited-add">
			<a class="btn-add-folder" href="#">Agregar archivero favorito</a>
		</div-->
		<div class="lightbox-favorited-actions clearfix">
			<button class="button button-outline button-positive add_to_follow" type="submit" >Aceptar</button>
			<a class="close-lightbox" href="#">Cancelar</a>
		</div>
		</form>
	</div>
	<div class="lightbox lightbox-add update-folder" >
        <div ng-controller="FavoritesCtrl">
            <div class="lightbox-add-content">
                <i class="ion-close close-lightbox"></i>
                <form >
                    <label>Cambiar nombre de carpeta</label>
                    <input class="folder_title" type="text" placeholder="" ng-model="data.title">
					<input id="folder_id" type="text" ng-value="data.folder_id" ng-model="data.folder_id" style="display:none;">
                    <div class="actions">

                    </div>
                </form>
            </div>
            <div class="lightbox-add-actions">
                <button class="button red deleted_folder">Borrar carpeta</button>
                <button class="button blue update_folder" >Guardar cambios</button>
            </div>
        </div>
    </div>
	<div class="lightbox lightbox-add create-folder" >
        <div ng-controller="FavoritesCtrl">
            <div class="lightbox-add-content">
                <i class="ion-close close-lightbox"></i>
                <form >
                    <label>Ingresa el nombre de la carpeta</label>
                    <input class="title_folder" type="text" placeholder="" ng-model="data.title">
                    <div class="actions">

                    </div>
                </form>
            </div>
            <div class="lightbox-add-actions">
                <button class="button red cancel_folder">Cancelar</button>
                <button class="button blue create_folder" >Guardar</button>
            </div>
        </div>
    </div>


<div class="warning warning-remove">
    <div class="warning-remove-container center">
        <div class="warning-remove-content">
            <p>Remover este Feed hará que desaparezca definitivamente de sus Archivos Favoritos</p>
        </div>
        <div class="warning-remove-actions clearfix">
            <button class="button button-outline button-positive btn-remove-favorited" type="submit">Confirmar</button>
            <a class="hide-warning" href="#">Cancelar</a>
        </div>
    </div>
</div>

<div class="lightbox lightbox-share has-subheader padding">
    <form>
        <div class="lightbox-share-header">
            <h4>Compartir por E-mail</h4>
        </div>
        <div class="lightbox-share-content">
            <label>
                <span>To:</span>
                <input type="email" placeholder="name@domain.com"> 
            </label>
            <label>
                <span>Cc:</span>
                <input type="email" placeholder=""> 
            </label>
            <label>
                <span>Subject:</span>
                <input type="email" placeholder="Legix Feed-07/mayo/2015"> 
            </label>
            <textarea disabled>Diputados
                
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum malesuada urna blandit gravida interdum. Duis volutpat id dolor euismod volutpat. Praesent velit nisi, imperdiet a lorem eu, gravida tempus elit. Pellentesque pretium varius erat, vel accumsan mauris tincidunt eget.
            </textarea>
            <input type="text" name="attachment" value="Archivo.pdf" disabled>
            <input type="text" name="credit" value="CREDITO: Legis Feed - www.legixfeed.com.mx" disabled>
        

            <div class="lightbox-favorited-actions clearfix">
                <button class="button button-outline button-positive" type="submit">Aceptar</button>
                <a class="close-lightbox" href="#">Cancelar</a>
            </div>
        </div>
    </form>
</div>
</body>
</html>
