/* css */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,700);

html,
body {
    font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Open Sans', sans-serif;
}
h1 {
    font-size: 16px;
}
a {
    color: #3091f4;
    text-decoration: none;
}
.button {
    display: inline-block;
    border-radius: 0;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    min-height: 35px;
    min-width: 85px;
    padding: 0 10px;
    text-align: center;
    z-index: 2;
}
.button.button-positive.button-outline {
    background: #FFF;
    border-color: #9699a7;
}
/*//////////////

   KEYFRAMES 

///////////////////*/

@keyframes pulsate {
    0% {
        transform: scale(1,1);
    }
    50% {
        transform: scale(2,2);
    }
    100% {
        transform: scale(1,1);
    }
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(1,1);
    }
    50% {
        -webkit-transform: scale(2,2);
    }
    100% {
        -webkit-transform: scale(1,1);
    }
}
@keyframes pulsate-inner {
    0% {
        transform: scale(0);
    }
    50% {
        transform: scale(1.5,1.5);
    }
    100% {
        transform: scale(0);
    }
}
@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(0);
    }
    50% {
        -webkit-transform: scale(1.5,1.5);
    }
    100% {
        -webkit-transform: scale(0);
    }
}

/*//////////////

   GENERAL 

///////////////////*/
.center {
    display: block;
    float: none;
    margin: 0 auto;
}


/*//////////////

   ICONS 

///////////////////*/

.sprite,
.sprite2x {
    background-image: url("../img/icons/sprite.svg") !important;
    background-size: 300px 500px !important;
    display: inline-block;
}
.sprite {
    height: 30px;
    width: 30px;
}
.sprite2x {
    height: 50px;
    width: 50px;
}
.icon-menu {
    background-position: -31px -30px !important;
}
.icon-message {
    background-position: -30px -150px !important;
}
.icon-mark {
    background-position: -90px -150px !important;
}
.icon-share {
    background-position: -150px -150px !important;
}
.icon-favorite {
    background-position: -210px -150px !important;
}
.icon-print {
    background-position: -270px -150px !important;
}
.icon-folder {
    background-position: -30px -300px !important;
}
a.actived > i,
.icon-message:active {
    background-position: -30px -180px !important;
}
a.actived > i,
.icon-mark:active {
    background-position: -90px -180px !important;
}
a.actived > i,
.icon-share:active {
    background-position: -150px -180px !important;
}
a.actived > i,
.icon-favorite:active,
.icon-favorite.active {
    background-position: -210px -180px !important;
}
a.actived > i,
.icon-print:active {
    background-position: -270px -180px !important;
}
.icon-logo {
    background-repeat: no-repeat;
    background-size: 250px auto;
    background-position: -150px -300px;
    display: block;
    height: 40px !important;
    width: 140px !important;
}


/*//////////////

   HEADER 

///////////////////*/
.bar.bar-positive {
    background-color: #0d407c;
    border-bottom: 3px solid #3091f4;
}
.bar.bar-dark {
    background-color: #434344;
}
.bar .title {
    font-weight: 700;
}

.bg-color-1 {
    background-color: #dedfe6;
}
.menu-left {
    background-color: #434344;
}
.bar-secondary .title {
    font-weight: 400;
}


/*//////////////

   NAVEGACION 

///////////////////*/

.tabs-dark > .tabs,
.tabs.tabs-dark {
    background-color: #434344;
    border: 0;
}
.tabs {
    height: 55px;
}
.tab-item .icon {
    margin-top: 5px;
    position: relative;
}
.tab-item.tab-item-active,
.tab-item.active,
.tab-item.activated {
    color: #4a9dfe !important;
    border: 0 !important;
}
.icon-feeds {
    background-position: -30px -90px !important;
}
.icon-myfeeds {
    background-position: -90px -90px !important;
}
.icon-following {
    background-position: -150px -90px !important;
}
.icon-groups {
    background-position: -210px -90px !important;
}
.icon-favorites {
    background-position: -270px -90px !important;
}
.icon-feeds-active {
     background-position: -30px -120px !important;
}
.icon-myfeeds-active {
    background-position: -90px -120px !important;
}
.icon-following-active {
    background-position: -150px -120px !important;
}
.icon-groups-active {
    background-position: -210px -120px !important;
}
.icon-favorites-active {
    background-position: -270px -120px !important;
}
.tab-title {
    font-size: 11px;
}
.not-count {
    background-color: #f10;
    border-radius: 50%;
    color: #FFF !important;
    display: block;
    font-size: 12px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: 0;
    width: 20px;
}


/*//////////////

   SIDE MENU 

///////////////////*/

.side-menu-header {
    display: block;
    padding: 30px;
}
.circle-picture {
    border-radius: 50%;
    box-shadow: 0 0 80px rgba(255,255,255,.5);
    height: 80px;
    margin: 0 auto;
    overflow: hidden;
    width: 80px;
}
.circle-picture img {
    width: 100%;
}
.side-menu-header h2 {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 0 0 0;
    text-align: center;
}
.side-menu-list li {
    border-bottom: 1px solid #4e4e4e;
}
.side-menu-list li:last-child {
    border: 0;
}
.side-menu-list li a {
    color: #FFF;
    display: block;
    font-size: 16px;
    font-weight: 400;
    padding: 15px 20px;
}
.side-menu-list li a:active {
    background: rgba(255,255,255,.03);
}
.side-menu-list li a i {
    font-size: 20px;
    margin-right: 20px;
    vertical-align: middle;
}
.icon-config {
    background-position: -30px -210px !important;
}
.icon-about {
    background-position: -90px -210px !important;
}
.icon-logout {
    background-position: -150px -210px !important;
}
.icon-priv {
    background-position: -210px -210px !important;
}
.icon-term {
    background-position: -270px -210px !important;
}

/*//////////////

   SEEN MENU 

///////////////////*/
.seen-menu {
    display: block;
    margin-bottom: 10px;
    width: 100%;
}
.seen-menu a {
    background: #CCC;
    color: #FFF;
    display: block;
    float: left;
    padding: 10px;
    text-align: center;
    width: 50%;
}
.seen-menu a.active {
    background: #FFF;
    color: #3091f4;
}


/*//////////////

   CARD 

///////////////////*/
.card {
    border: 1px solid #a0a0a0;
    border-radius: 0;
    box-shadow: 0 0 0 !important;
    padding: 1px;
    -webkit-box-shadow: 0 0 0 !important;
}
.card,
.list-inset {
    margin: 10px;
    padding-bottom: 1px;
    padding-top: 1px;
}
.item-body {
    border-top: 0;
}
.item-thumbnail-left,
.item-thumbnail-left .item-content {
    min-height: 50px;
    padding-left: 80px;
}
.item-thumbnail-left > img:first-child,
.item-thumbnail-left .item-image,
.item-thumbnail-left .item-content > img:first-child,
.item-thumbnail-left .item-content .item-image {
    border-radius: 10px;
    left: 16px;
    max-height: 50px;
    max-width: 50px;
}
.item-empty {
    padding: 16px !important;
    text-align: center;
}
.item-header {
    padding-bottom: 8px;
    position: relative;
}
.item-header a.read {
    position: absolute;
    top: 10px;
    right: 10px;
}
.item-header a.read i {
    color: #a0a0a0;
    font-size: 30px;
}
.item-header h2,
.item-header h3,
.item-header p {
    color: #9295a3;
}
.item h2 {
    font-weight: 700;
}
.item h3 {
    margin-bottom: 0;
}
.item-body {
    padding-top: 0;
    padding-bottom: 0;
}
.item-body h1,
.item-body h2,
.item-body h3,
.item-body h4,
.item-body h5,
.item-body h6,
.item-body p {
    color: #000;
}
 .item-body p {
     margin-top: 0;
 }
.hashtag {
    color: #3695ff;
    text-decoration: none;
}
.item-attachments {
    margin-bottom: 16px;
}
.item-attachments a {
    display: block;
    margin: 5px;
}
.item-attachments a i {
    display: inline-block;
    transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}
.item-comments {
    display: block;
    margin: 10px 0 0 0;
    position: relative;
    z-index: 1;
}
.item-comments:before {
    background-color: #cdcdcd;
    content: "";
    height: 1px;
    position: absolute;
    left: 0;
    top: 22px;
    width: 100%;
}
.item-comments > a {
    background-color: #FFF;
    border: 1px solid #cdcdcd;
    display: inline-block;
    font-size: 14px;
    margin-left: 10px;
    padding: 10px;
    position: relative;
}
.comment {
    display: none;
    border-bottom: 1px solid #cdcdcd;
    padding: 10px 20px;
}
.item-comments.active .comment{
    display: block;
}
.item-comments .last-comment,
.item-comments.active .comment {
    display: block;
}
.comment h3,
.comment > p {
    display: inline;
}
.comment h3 {
    font-weight: 700;
    position: relative;
}
.comment h3::before {
    border-radius: 50%;
    background-color: #3695ff;
    content: "";
    display: block;
    height: 10px;
    left: -20px;
    position: absolute;
    top: 5px;
    width: 10px;
}
.comment > p.date {
    color: #9295a3;
    display: block;
    font-size: 12px;
}
.tabs-secondary {
    background-color: #FFF !important;
    border: 0;
}
.tabs-secondary .tab-item i {
    margin-top: 13px;
}


/*//////////////

   TEMPLATE: USERS 

///////////////////*/

.category-list .category-element.item {
    border-color: #FFF;
}
.category-element::after {
    background-color: #9699a7;
    bottom: 0;
    content: "";
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    width: 70%;
    width: calc(100% - 70px);
}
.has-excerpt > .category-element::after {
    width: 80%;
    width: calc(100% - 60px);
}
.category-element.item-avatar,
.category-element.item-avatar
.category-element.item-content,
.category-element.item-avatar-left,
.category-element.item-avatar-left .item-content {
    padding-left: 60px;
    padding-right: 15px;
}
.category-element .icon {
    display: block;
    left: 0;
    line-height: 55px;
    max-height: 50px;
    max-width: 50px;
    position: absolute;
    text-align: center;
    top: 13px;
    width: 50px;
}
.icon.icon-user {
    background-color: #cdcdcd;
    border-radius: 50%;
    color: #FFF;
    display: block;
    font-size: 18px;
    font-weight: 700;
    height: 100%;
    line-height: 80px;
    width: 100%;
}
.icon.icon-folder {
    color: #ccc;
    font-size: 16px;
}
.category-element.item-avatar > img:first-child,
.category-element.item-avatar .item-image,
.category-element.item-avatar .item-content > img:first-child,
.category-element.item-avatar .item-content .item-image,
.category-element.item-avatar-left > img:first-child,
.category-element.item-avatar-left .item-image, .item-avatar-left .item-content > img:first-child,
.category-element.item-avatar-left .item-content .item-image {
    left: 0;
    max-height: 50px;
    max-width: 50px;
    top: 13px;
}
.category-element h2 {
    font-weight: 400;
    margin: 10px 0;
}

.category-element .button {
    display: block;
    font-size: 14px;
    margin-top: -17px;
    right: 0;
    top: 50%;
}
.category-element .button.button-positive.button-outline {
    border-color: #cdcdcd;  
}


/*//////////////

   TEMPLATE: FAVORITOS 

///////////////////*/

.category-list.has-excerpt .category-element h2 {
    margin-top: 0;
}


/*//////////////

   TEMPLATE: RECURSOS HUMANOS 

///////////////////*/

.item-divider {
    background: #dedfe6;
    border: 0;
    padding: 12px;
}
.image-list {
    display: block;
    height: 150px;
    overflow: hidden;
}
.image-list.active {
    height: auto;
}
.image-list li {
    display: inline-block;
    margin-left: -0.25em; /* elimina espacios entre inline-blocks */
    padding: 15px;
    text-align: center;
    width: 33.33%;
    
}
.images-content .button {
    display: block;
    margin: 0 auto 20px auto;
    width: 100px;
}
.has-circle .category-element {
    padding-left: 50px;
    position: relative;
}
.has-circle .category-element::after {
    width: calc(100% - 50px);
}
.image-list li.child:first-of-type {
    margin-left: 0; /* elimina espacios entre inline-blocks */
}
.image-list li h2 {
    font-size: 14px;
    margin: 15px 0 0 0;
}

.category-element .icon-circle {
    border: 1px solid #9699a7;
    border-radius: 50%;
    color: #9699a7;
    font-size: 14px;
    font-weight: 400;
    height: 30px;
    left: 0;
    line-height: 28px;
    margin-top: -15px;
    top: 50%;
    width: 30px;
}
.btn-invisible {
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}


/*//////////////

   TEMPLATE: CONFIGURACION DE FEEDS 

///////////////////*/
.header h2 {
    font-size: 16px;
    font-weight: 700;
}
.header p a {
    color: #000;
    display: block;
    float: right;
    font-size: 26px;
    margin: 10px;
}
.list-style .mg-btm {
    background-color: #FFF;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
.list-style > .li-parent {
    padding: 0;
}
.item-checkbox {
    border: 0;
    margin: 0;
    padding-left: 50px;
}
.list-header:active {
    background-color: rgba(0,0,0,.02);
}
.li-master {
    border: 0;
    font-size: 16px;
    padding: 0;
    position: relative;
}
.list-header {
    font-weight: 400;
    margin: 0;
    padding: 0;
    position: relative;
} 
a.list-expand {
    display: block;
    padding-bottom: 16px;
    padding-left: 16px;
    padding-top: 16px;
    position: relative;
}
.li-master h2 {
    font-weight: 700;
    position: relative;
}
.li-master .list-header .checkbox {
    margin-top: -14px;
    padding: 0;
}
.list-expand i {
    color: #000;
    font-size: 16px !important;
}
.list-content {
    display: none;
    position: relative;
}
.li-master > .list-content::after {
   background: #CCC;
    content: "";
    display: block;
    height: 1px;
    left: 16px;
    position: absolute;
    top: 0;
    width: calc(100% - 32px);
    z-index: 2;
}
.list-content.active {
    display: block;
}
.li-parent {
    border: 0;
    font-size: 14px;
    padding: 0 0 0 20px;
}
.li-parent .list-header {
    padding: 10px 0 10px 40px; 
}
.li-parent .list-header::after {
    display: none;
}
.li-parent .list-header .checkbox {
    margin-top: -14px;
    padding: 0;
}
.li-parent .list-header .icon {
    color: #000;
    font-size: 16px;
    opacity: .5;
    right: 6px;
}
.li-parent label {
    font-size: 16px;
    font-weight: 400;
    width: calc(100% - 54px);
}
.li-children {
    font-size: 12px;
    padding: 2px 10px 2px 40px;
}
.checkbox input,
.checkbox-icon {
    width: 20px;
}
.checkbox input:before,
.checkbox-icon:before {
    border-radius: 0;
    height: 20px;
    top: 4px;
    position: relative;
    width: 20px;
}
.li-children .checkbox input:before,
.li-children .checkbox-icon:before {
    left: 20px !important;   
}
.checkbox input:after,
.checkbox-icon:after {
    left: 20%;
    top: 30%;
}
.li-children .checkbox input:after,
.li-children .checkbox-icon:after {
    left: 120% !important;   
}
.item-checkbox .icon {
    font-size: 20px;
}
.list-actions .btn-next {
    line-height: 33px;
    float: right;
}


/*--- group ---*/
.group-container {
    margin-bottom: 20px;
}
.list-style > .li-parent > a > .list-header {
    font-size: 16px;
    font-weight: 700;
}
.list-style > .li-parent > .list-content > .li-parent > .list-header {
    font-size: 14px;
}
.list-style > .li-parent > .list-content > .li-parent > .list-content > .li-parent > .list-header {
    font-size: 12px;
}

/*--- temas ---*/
.category-element .ion-chevron-right {
    color: #9699a7;
    font-size: 25px;
    height: 25px;
    line-height: 25px;
    margin-top: -13px;
    top: 50%;
    width: 25px;
}


/*//////////////

   SIMPLE PAGE 

///////////////////*/

.simple-page .card {
    border: 0;
}
.simple-page .card h2 {
    margin-bottom: 10px;
}
.simple-page .card p {
    margin: 10px 0;
}

/*//////////////

    LIGTHBOX: TUTORIAL

///////////////////*/

.tutorial {
    background-color: rgba(0,0,0,.9);
    display: block;
    height: 100%;
    left: 0;
    opacity: 0;
    position: fixed;
    top: 0;
    transition: all .3s ease;
    visibility: hidden;
    width: 100%;
    z-index: 9;
    -webkit-transition: all .3s ease;
}
.tutorial.active {
    opacity: 1;
    visibility: visible;
}
.tutorial::before {
    background: #FFF;
    content: "";
    display: block;
    height: 50px;
    left: 0;
    position: absolute;
    top: 50px;
    width: 100px;
}
.tutorial .step {
    display: block;
    left: 16px;
    position: absolute;
    width: calc(100% - 32px);
}
.point {
    animation: pulsate 3s ease infinite;
    background: #3091f4;
    border-radius: 50%;
    display: block;
    height: 20px;
    opacity: 0;
    position: absolute;
    margin-top: -10px;
    top: 50%;
    width: 20px;
    z-index: 4;
    -webkit-animation: pulsate 3s ease infinite;
}
.point.active {
    opacity: .8;
}
.point::before {
    animation: pulsate-inner 3s ease infinite;
    background: rgba(255,255,255,.5);
    border-radius: 50%;
    content: "";
    display: block;
    height: 22px;
    opacity: .5;
    position: absolute;
    left: 50%;
    margin-left: -11px;
    margin-top: -11px;
    top: 50%;
    width: 22px;
    z-index: 1;
    -webkit-animation: pulsate-inner 3s ease infinite;
   
}
.example .point-1 {
      left: 50px;
}
.example .point-2 {
      left: 50px;
}
.example .point-3 {
      right: 18px;
}
.tutorial .step .step-header {
    color: #FFF;
    display: block;
    height: 80px;
    height: auto;
    margin-bottom: 20px;
    padding: 16px 16px 16px 50px;
    position: relative;
}
.tutorial .step .step-header .step-number {
    background-color: #FFF;
    border-radius: 50%;
    color: #000;
    display: block;
    font-weight: 700;
    height: 20px;
    left: 16px;
    line-height: 20xp;
    margin-right: 5px;
    position: absolute;
    text-align: center;
    top: 16px;
    width: 20px;
}
.tutorial .step .step-header p {
    display: inline;
    margin: 0;
}
.example,
.example *{
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.example::after {
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
}
.tutorial .step .step-content ul.example .li-master .li-parent .list-content {
    padding-bottom: 20px;
}
.tutorial .step {
    display: none;
    top: 10%;
}
.tutorial .step.active {
    display: block;
}
.tutorial .step .focus {
    background-color: rgba(255, 255, 255, .2);
    box-shadow: inset 0 0 15px rgba(255, 255, 255, .1);
    display: block;
    position: relative;
    width: 100%;
}
.tutorial .tutorial-actions {
    bottom: 16px;
    display: block;
    left: 16px;
    position: absolute;
    text-align: center;
    width: 180px;
}
.tutorial .tutorial-actions .hide-tutorial {
    border: 0;
    color: #FFF !important;
}


/*//////////////

   WARNING

///////////////////*/
.lightbox,
.warning {
    background: #FFF;
    bottom: -60px;
    display: block;
    height: 100%;
    opacity: 0;
    overflow-y: auto;
    position: absolute;
    top: 0;
    transition: all .3s ease;
    left: 0;
    visibility: hidden;
    width: 100%;
    z-index: 1;
    -webkit-transition: all .3s ease;
}
.lightbox.active,
.lightbox-favorited.active,
.warning.active {
    bottom: 0;
    opacity: 1;
    visibility: visible;
}
.warning-container {
    display: block;
    left: 0;
    padding: 40px;
    position: absolute;
    top: 50%;
}
.warning-content {
    display: block;
    margin-bottom: 20px;
}
.warning-content p {
    font-size: 16px;
}

/*//////////////

   WARNING:  REMOVE FAVORITED

///////////////////*/
.warning-remove {
    background: rgba(0,0,0,.3);
    padding: 16px;
}
.warning-remove-container {
    background: #FFF;
    display: block;
    padding: 16px;
    position: relative;
    top: 50%;
}
.warning-remove-actions {
    padding: 20px 0 0 0;
}
.warning-remove-actions a {
    float: right;
    line-height: 35px;
}
/*//////////////

   LIGHTBOX: favorited

///////////////////*/
.lightbox-favorited {
    box-sizing: border-box;
    padding: 15px 60px;
    -webkit-box-sizing: border-box;
}
.lightbox-favorited-content {
    height: calc(100% - 136px);
    max-height: 300px;
    overflow-y: auto;
    position: relative;
}
.lightbox-favorited-content .item {
    border: 0;
    height: 50px;
    min-height: 30px;
}
.lightbox-favorited-content .item:after {
    bottom: 1px;
}
.lightbox-favorited-content .item.selected {
    background: rgba(0,0,0,.1);
}
.lightbox-favorited-content .item h2 {
    margin: 0;
}
.lightbox-favorited-content .item .icon {
    font-size: 20px;
    top: 0;
    transform: scale(.7);
    -webkit-transform: scale(.7);
}
.lightbox-favorited-content .item .btn-delete {
    box-shadow: -5px 0 5px #FFF;
    opacity: 0;
    right: 1px;
    transition: all .3s ease;
    visibility: hidden;
    -webkit-box-shadow: -5px 0 5px #FFF;
    -webkit-transition: all .3s ease;
}
.lightbox-favorited-content .item .btn-delete.show {
    opacity: 1;
    visibility: visible;
}
.lightbox-favorited-add {
    padding: 10px 0;
    text-align: center;
}
.lightbox-favorited-actions  {
    padding: 20px 0;
}
.lightbox-favorited-actions a {
    float: right;
    line-height: 35px;
}

/*//////////////

   LIGHTBOX: SHARE

///////////////////*/

.lightbox-share {
    padding: 20px;
}
.lightbox-share-content {
    
}
.lightbox-share-content label {
    display: block;
}
.lightbox-share-content label span,
.lightbox-share-content label input {
    display: inline;
}
.lightbox-share-content label span {
    font-size: 14px;
    font-weight: 700;
}
.lightbox-share-content label input {
    font-size: 14px;
    padding: 0 10px;
    width: 250px;
}
.lightbox-share-content input[name = attachment],
.lightbox-share-content input[name = credit] {
    display: block;
    font-size: 14px;
    padding: 10px;
    width: 100%;
}
.lightbox-share-content input[name = attachment] {
    background-color: #CCC !important;
}
.lightbox-share-content input[name = credit] {
    border: 0;
}
.lightbox-share-content textarea {
    color: #999;
    display: block;
    font-size: 14px;
    height: 150px;
    margin: 20px 0;
    padding: 10px 0;
    resize: none; 
    width: 100%;
}

/*//////////////

   LIGHTBOX: SEARCH

///////////////////*/
.lightbox-search {
    background-color: rgba(0,0,0,0);
    top: -50px;
}
.lightbox-search.active {
    top: 0;
}

/*//////////////

   LIGHTBOX: ADD

///////////////////*/
.lightbox-add {
    background-color: rgba(0, 0, 0, .5);
}
.lightbox-add > div {
    background-color: #FFF;
    display: block;
    margin: 0 auto;
    margin-top: -100px;
    position: relative;
    top: 50%;
    width: 90%;
}
.lightbox-add > div div.lightbox-add-content {
    padding: 20px 15px 15px 15px;
}
.lightbox-add > div i {
    font-size: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 1;
}
.lightbox-add > div label {
    display: block;
    text-align: left;
    font-size: 16px;
    margin-bottom: 10px;
}
.lightbox-add > div input {
    border: 1px solid #ccc;
    height: 40px;
    padding: 10px;
    width: 100%;
}
.lightbox-add > div div.lightbox-add-actions {
    overflow: hidden;
}
.lightbox-add > div div.lightbox-add-actions button {
    -webkit-box-sizing: border-box;
    border: 1px solid #ccc;
    box-sizing: border-box;
    display: block;
    float: left;
    left: 0;
    margin: 0;
    overflow: hidden;
    right: 0;
    width: 50%;
}
.lightbox-add > div div.lightbox-add-actions button:first-child {
    border-left: 0;
}
.lightbox-add > div div.lightbox-add-actions button:last-child {
    border-left: 0;
    border-right: 0;
}
.lightbox-add > div div.lightbox-add-actions button:after {
    display: none;
}

.lightbox-add > div div.lightbox-add-actions button.red {
    color: #f10;
}
.lightbox-add > div div.lightbox-add-actions button.blue {
    color: #3091f4;
}

/*//////////////

   TEMPLATE: REGISTRO USUARIO

///////////////////*/

/*--- header ---*/
.header-blue {
    background-color: #3191f7;
    min-height: 43px;
    overflow: hidden;
}
.header-blue h2 {
    color: #FFF;
    float: left;
    font-size: 16px;
    font-weight: 700;
    margin: 5px 0;
    max-width: 80%;
}
.header-blue p {
    color: #FFF;
    float: left;
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
    max-width: 80%;
}
.header-blue a {
    color: #FFF;
    display: block;
    float: right;
    font-size: 26px;
    margin: 0;
    max-width: 20%;
}

/*--- content ---*/
.user-container {
    display: block;
    overflow: hidden;
    margin-bottom: 20px;
    position: relative;
}
.user-container > i {
    background-color: #dedfe6;
    border-radius: 50%;
    color: #FFF;
    display: block;
    height: 200px;
    font-size: 200px;
    line-height: 200px;
    margin: 20px auto;
    text-align: center;
    width: 200px;
    z-index: 0;
}
.item-input.border {
    padding-right: 16px;
}
.item-input.border input {
    border: 1px solid #9699a7;
    border-radius: 0;
    margin: 10px 0;
    padding: 5px 10px;
}

/*--- actions ---*/
.list-actions-border > button {
    border: 1px solid #9699a7;
    border-left: 0;
    box-sizing: border-box;
    display: inline-block;
    float: left;
    margin: 0;
    max-width: 50%;
    overflow: hidden;
    padding: 0;
    text-align: center;
    width: 50%;
    -webkit-box-sizing: border-box;
}
.list-actions-border > button:active {
    background-color: #387ef5;
    color: #FFF;
}
.list-actions-border > button:last-child {
    border-right: 0;
}

/*//////////////

   TEMPLATE: EDITAR PEFIL

///////////////////*/
.perfil-list .list {
    margin-bottom: 0;
}
.perfil-list .item-avatar {
    border: 0;
    min-height: 100px;
    padding-left: 95px;
}
.perfil-list .item-avatar img {
    border-radius: 0;
    max-height: 60px;
    max-width: 60px;
}
.perfil-list .item-avatar p {
    font-size: 16px;
    white-space: normal;
}
.perfil-list .item-input.item-stacked-label:last-child {
    border-bottom: 0;
}

textarea, input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    font-size: 16px;
}
input[disabled],
select[disabled],
textarea[disabled],
input[readonly]:not(.cloned-text-input),
textarea[readonly]:not(.cloned-text-input),
select[readonly] {
    background-color: #FFF !important;
}
.perfil-list .item-button-right {
    border: 0;
    padding: 0;
    position: relative;
}
.perfil-list ul .button {
    font-size: 14px;
    padding: 0 20px;
    top: 18px;
}
.btn-upload {
    display: inline-block;
    left: 15px;
    position: absolute;
    top: 10px;
}
.btn-upload .txt {
    bottom: -20px;
    font-size: 14px;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.perfil-list .list-inset {
    margin: 20px 15px;
}
.perfil-list .list-inset,
.perfil-list .list-inset label,
.perfil-list .list-inset input {
    border-radius: 0 ;
}
.perfil-list .list-inset input {
    height: 25px;
    padding: 0;
}


/*//////////////

   TEMPLATE: LOGIN & SINGUP

///////////////////*/

.form-header,
.form-content .form-actions,
.form-info {
    display: block;
}
.form-header {
    background-image: url(../img/background.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 30px;
    position: relative;
    z-index: 0;
}
#singup .form-header {
    padding: 16px 30px;
}
.form-header::after {
    background-color: rgba(13,64,124,.8);
    content: "";
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
    filter: brightness(190%);
    -webkit-filter: brightness(190%);
}
.form-header i.icon-logo,
.form-header p.description,
.form-header h2.subtitle {
    position: relative;
    z-index: 1;
}
.form-header i.icon-logo {
    margin: 20px auto;
}
.form-header p.description {
    color: #FFF;
    font-size: 14px;
}
.form-header h2.subtitle {
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
}
.form-content .item-input,
.form-content .item-input{
    padding: 5px 30px;
}
.form-content .list,
.form-content .list {
    margin-bottom: 0;
}
.form-content a,
.form-content a:link {
    float: right;
    margin: 10px 30px 10px 0;
}
.form-content .form-actions {
    text-align: center;
}
.form-content .form-actions button,
.form-content .form-actions label {
    display: inline-block;
}
.form-content .form-actions button {
    margin-right: 10px;
}
.form-content .form-actions label {
    margin-left: 10px;
    padding: 3px 0;
}
.form-content .form-actions label > * {
    float: left;
    line-height: 28px;
}
.form-content .form-actions label > span {
    margin-left: 10px;
}
.form-content .form-actions label > span > a {
    display: inline;
    float: none;
}
#form-info {
    margin-top: 10px;
}
#form-info a {
    display: block;
    margin: 10px 0;
    text-align: center;
}


/*//////////////

   LIGHTBOX: SHARE

///////////////////*/

.share,
.share ul {
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.share {
    background-color: rgba(0,0,0,.5);
    display: block;
    height: 100%;
    opacity: 0;
    position: fixed;
    left: 0;
    top: 0;
    visibility: hidden;
    width: 100%;
    z-index: 5;
}
.share.active {
    opacity: 1;
    visibility: visible;
}
.share ul {
    background-color: #FFF;
    padding: 0 15px;
    bottom: -60px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    width: 400px;
}
.share.active ul {
    bottom: 60px;
}
.share ul li {
    border-bottom: 1px solid #EEE;
    display: block;
    padding: 10px 20px;
    text-align: center;
}
.share ul li:active {
    background: rgba(0,0,0,.03);
}
.share ul li:last-child {
    border-bottom: 0;
}
.share ul li:last-child a {
    color: #f10;
}
.share ul li h2 {
    font-size: 16px;
    line-height: 30px;
    margin: 0;
}
.share ul li a {
    display: inline-block;
    line-height: 30px;
    text-align: center;
    vertical-align: middle;
}
.share ul li a i {
    display: inline-block;
    font-size: 30px;
    margin-right: 20px;
    text-align: center;
    width: 40px;
}
.share ul li a span {
    display: inline-block;
    line-height: 30px;
    text-align: left;
    vertical-align: top;
    width: 70px;
}
.input-comment {
    display: none;
}
.input-comment.active {
    display: block;
}
.input-comment .item-input-wrapper {
    border: 1px solid #CCC;
}